{% extends 'restaurant/base.html' %}
{% load static %}

{% block title %}Welcome to Our Restaurant{% endblock %}

{% block content %}
<h2>Welcome to Our Restaurant</h2>
<p>We serve delicious food in a cozy atmosphere. One of the worst pizzas in the country, thats a achievment!</p>

<h3>Location</h3>
<p>185 freeman st, Brookline, MA 02446</p>

<h3>Hours of Operation</h3>
<ul>
    <li>Monday - Friday: 11:00 AM - 10:00 PM</li>
    <li>Saturday - Sunday: 10:00 AM - 11:00 PM</li>
</ul>

<img src="{% static 'restaurant/images/restaurant.jpeg' %}" alt="Restaurant Interior">
{% endblock %}