{# File: delete_quiz.html #}
{# Author: Ahmad Sadiq (U37206345) #}
{# Date: 12/9/24 #}
{# Description: This template provides the interface for users to confirm the deletion of a quiz.
It displays the quiz title and description and prompts the user to confirm or cancel the action. #}

{% extends "quiz_app/base.html" %}

{% block title %}Delete Quiz{% endblock title %}

{% block body %}
<h2>Are you sure you want to delete "{{ quiz.title }}"?</h2>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'index' %}" class="btn btn-danger">Cancel</a>
</form>
{% endblock body %}