{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="container">
    <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
    <img src="{{ profile.image_url }}" alt="Profile Image" class="profile-image-large">
    <p>City: {{ profile.city }}</p>
    <p>Email: {{ profile.email }}</p>

    <!-- Add the link to post a new status -->
    <a href="{% url 'create_status' profile.pk %}" class="btn btn-primary">Post a new status</a>

    <h2>Status Messages:</h2>
    {% if status_messages %}
    {% for status in status_messages %}
    <div>
        <p>{{ status.message }}</p>
        {% for img in status.get_images %}
        <img src="{{ img.image_file.url }}" alt="Status Image" width="200">
        {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <p>No status messages</p>
    {% endif %}
</div>
{% endblock %}