{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="container">
    <div style="text-align: right; margin-top: 20px;">
        <a href="{% url 'create_profile' %}" class="btn btn-primary">Create New Profile</a>
    </div>
    <h1>All Profiles</h1>
    <ul class="profile-list">
        {% for profile in profiles %}
        <li class="profile-card">
            <a href="{% url 'show_profile' profile.pk %}">
                <img class="profile-image" src="{{ profile.image_url }}" alt="Profile Image">
                <div class="profile-info">
                    <h2 class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</h2>
                </div>
            </a>
            <p class="profile-details">City: {{ profile.city }}</p>
            <p class="profile-details">Email: {{ profile.email }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}