{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>All Profiles</h1>
    <ul class="profile-list">
        {% for profile in profiles %}
        <li class="profile-card">
            <img class="profile-image" src="{{ profile.image_url }}" alt="Profile Image">
            <div class="profile-info">
                <h2 class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</h2>
                <p class="profile-details">City: {{ profile.city }}</p>
                <p class="profile-details">Email: {{ profile.email }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}